// header
.header {
    &-container {
        background-color: $base11;
        border-bottom: 1px solid $base0;
        display: flex;
        justify-content: space-between;
        text-align: center;
    }
    &-nav {
        display: flex;
        align-items: center;
        ul {
            display: flex;
            flex-direction: row-reverse;
            li {   
                margin-right: 20px;
                a {
                    text-decoration: none;
                    color: $base0;
                    padding: 10px;
                    border-radius: 5px;
                }
          }
        }
    }
}


// main
.main {
    // padding-top: 77px;
    &-container {
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
}


// aside
.aside {
    width: 30%;
    background: $base11;
    color: $base0;
    max-width: 250px;
    border-radius: 20px;
    button {
        @include btn-color('reverse');
    }
}

// main-article
.main-article {
    width: 70%;
    max-width: 750px;
}

// add-form
.add-form {
    background: $base11;
    color: $base0;
    border-radius: 20px;
    button {
        @include btn-color('reverse');
    }
}

// targets
.targets {
    background: $base11;
    color: $base0;
    border-radius: 20px;
    transition: all 5s ease;
    .select_none {
        pointer-events: none;
    }
}

// target
.target {
    background-color: $base11;
    border: 5px solid $base0;
    border-radius: 20px;
    &-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-main {
        display: flex;
        align-items: center;
        a {
            color: $base0;
        }
    }
}

.completed {
    background-color: $base5;
    color: $base11;
    border: 5px solid $base4;
    input {
        border-color: $base4; 
        background-color: $base4;
    }
    input, a {
        color: $base11;
    }
}

.fade-enter-active, .fade-leave-active {
    transition: opacity 1s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}

.bounce-enter-active {
    animation: bounce-in .5s;
}
.bounce-leave-active {
    animation: bounce-in .5s reverse;
}
@keyframes bounce-in {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

.slide-fade-enter-active {
    transition: all .8s ease;
}
.slide-fade-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
    /* .slide-fade-leave-active below version 2.1.8 */ {
    transform: translate(100px, 100px);
    opacity: 0;
}
.slide-fade-leave-to
    /* .slide-fade-leave-active below version 2.1.8 */ {
    transform: translate(100px, -100px);
    opacity: 0;
}



.rotate-enter-active {
    animation: rotate-in .1s;
}
.rotate-leave-active {
    animation: rotate-in .5s reverse;
}
@keyframes rotate-in {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
}