$initSize: normal;
$initWeight: normal;

@mixin font-size($size:$initSize) {
    // xx-small
    @if( $size == 'xx-small' ){
        font-size: 1.0rem;
        line-height: 1.8rem;
    }
    
    // x-small
    // small
    // normal
    @if( $size == 'normal' ){
        font-size: 1.6rem;
        line-height: 1.9rem;
        @include mq(md) {
            font-size: 1.0rem;
            line-height: 1.6rem; 
        }
    }

    // large
    // x-large
    @if( $size == 'x-large' ){
        font-size: 3rem;
        line-height: 3.5rem;
        @include mq(md) {
            font-size: 2.5rem;
            line-height: 2.8rem; 
        }
    }
    // xx-large
}

@mixin font-weight($weight:$initWeight) {

    // normal
    @if( $weight == 'normal' ){
        font-weight: 300;
    }

    // bold
    @if( $weight == 'bold' ){
        font-weight: 600;
    }

    // x-bold
    @if( $weight == 'x-bold' ){
        font-weight: 700;
    }

}